DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
GEMINI_API_KEY=<your google genai api key>
XAI_API_KEY=<your xai api key>
NEXTAUTH_URL=<your url>
NEXTAUTH_SECRET=<your secret>
GOOGLE_CLIENT_ID=<your google client id>
GOOGLE_CLIENT_SECRET=<your google client secret>
ENCRYPTION_KEY=<your encryption key>
FIREBASE_SERVICE_ACCOUNT_KEY=<your firebase service account key>
